@inject NFContext _context

<EditForm Model="_model" OnValidSubmit="SaveDocumentAsync">
    <div class="row">
        <div class="col-lg-2">
            <LabelFor For="()=>_model.DocType"/>
            <InputSelect @bind-Value="_model.DocType" class="form-control">
                <option value="">Selecionar</option>
                @foreach (var docType in DocumentModel.SupportedDocuments)
                {
                    <option value="@docType">@docType</option>
                }
            </InputSelect>
        </div>
        <div class="col-lg-2">
            <LabelFor For="()=>_model.DocIdentifier"/>
            <InputText @bind-Value="_model.DocIdentifier" class="form-control"/>
        </div>
        <div class="col-lg-4">
            <LabelFor For="()=>_model.Name"/>
            <InputText @bind-Value="_model.Name" class="form-control"/>
        </div>
        <div class="col-lg-4">
            <LabelFor For="()=>_model.Email"/>
            <InputText @bind-Value="_model.Email" class="form-control"/>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-2">
            <LabelFor For="()=>_model.Street"/>
            <InputText @bind-Value="_model.Street" class="form-control"/>
        </div>
        <div class="col-lg-1">
            <LabelFor For="()=>_model.StreetNumber"/>
            <InputText @bind-Value="_model.StreetNumber" class="form-control"/>
        </div>
        <div class="col-lg-1">
            <LabelFor For="()=>_model.Complement"/>
            <InputText @bind-Value="_model.Complement" class="form-control"/>
        </div>
        <div class="col-lg-2">
            <LabelFor For="()=>_model.Neighborhood"/>
            <InputText @bind-Value="_model.Neighborhood" class="form-control"/>
        </div>
        <div class="col-lg-2">
            <LabelFor For="()=>_model.City"/>
            <InputText @bind-Value="_model.City" class="form-control"/>
        </div>
        <div class="col-lg-1">
            <LabelFor For="()=>_model.CityId"/>
            <InputNumber @bind-Value="_model.CityId" class="form-control"/>
        </div>
        <div class="col-lg-1">
            <LabelFor For="()=>_model.State"/>
            <InputText @bind-Value="_model.State" class="form-control"/>
        </div>
        <div class="col-lg-2">
            <LabelFor For="()=>_model.PostalCode"/>
            <InputText @bind-Value="_model.PostalCode" class="form-control"/>
        </div>
    </div>
    <button class="btn btn-primary mt-2 btn-block" type="submit">Salvar</button>
</EditForm>

@code {
    private DocumentModel _model=new();

    [Parameter]
    public EventCallback<Document> OnDocumentAdded { get; set; }

    private async Task SaveDocumentAsync()
    {
        var address = new Address(_model.Street, _model.StreetNumber, _model.City, _model.CityId, _model.Complement, _model.Neighborhood, _model.State, _model.PostalCode);
        var document = new Document(_model.DocType, _model.DocIdentifier, _model.Name, _model.Email, address);
        _context.Add(address);
        _context.Add(document);
        await _context.SaveChangesAsync();
        _model = new DocumentModel();
        await OnDocumentAdded.InvokeAsync(document);
    }
}
