@inherits LayoutComponentBase
@inject NavigationManager _navigationManager

<div class="page h-100">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <ErrorLimit @ref=_errorLimit>
            <div class="p-4">
                @Body
            </div>
        </ErrorLimit>
    </div>
</div>

@code{
    private ErrorLimit _errorLimit;

    protected override void OnInitialized() =>
        _navigationManager.LocationChanged += Restore;

    public void Dispose()=>
        _navigationManager.LocationChanged -= Restore;

    public void Restore(object sender, LocationChangedEventArgs args)=>
        _errorLimit.Retry();
}